@import url('./variables/color.css');

.sr-only{
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

h1{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

main{
    position: relative;
    margin-bottom: 100px;
}

main:not(.art){
    top: 70px;
    margin-bottom: 170px;
}

body{
    font-family: var(--font-Montserrat-Regular);
    font-size: var(--font-size-paragraph);
}

h2{
    font-size: var(--font-size-h2);
}

h3{
    font-size: var(--font-size-h3);
}

.filter__search{
    border: 1px solid var(--color-gold);
    height: 30px;
    border-radius: 50px;
    padding: 0 10px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: var(--color-black);
    border: none;
    color: var(--color-white);
    padding: 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    width: 100%;
    margin-top: 10px;
  }