@import url('./variables/color.css');

.sr-only{
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
			clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

h1{
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img{
    max-width: 100%;
}

main{
    position: relative;
}

main:not(.art){
    top: 70px;
}

body{
    font-family: var(--font-Montserrat-Regular);
}

